.adm-sortable {
    cursor: pointer;
}

.adm-sortable::before {
    font-family: "FontAwesome";
    content: "\f0dc";
}

.adm-sortable-desc::before {
    font-family: "FontAwesome";
    content: "\f161";
}

.adm-sortable-asc::before {
    font-family: "FontAwesome";
    content: "\f884";
}

.id-column {
    width: 60px;
}

.action-column {
    width: 155px;
}

.page-item.active .page-link {
    background-color: #24695c;
    border-color: #24695c;
}

.page-link {
    color: #24695c;
}
.profile-header {
    background-color: rgba(36, 105, 92, 0.2);
}

.private-color {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 7px;
    margin-right: 3px;
    border: 3px solid #e1e4eb;
    padding: 3px;
    cursor: pointer;
    opacity: 0.9;
}

.color-one {
    background-color: #24695c;
}

.color-two {
    background-color: #d97f3d;
}

.color-three {
    background-color: #168eea;
}

.color-fore {
    background-color: #665ed5;
}

.color-five {
    background-color: #3a9aa8;
}

.color-six {
    background-color: #7951aa;
}
/*.table-responsive {*/
/*    min-height: 200px;*/
/*}*/